<p>courses-overview works!</p>

<div><span>Name: </span>{{courses[0].name}}</div>
<div><span>Beschreibung: </span>{{courses[0].description}}</div>

<p>Kurs-Tabelle</p>

<table>
  <tbody>
  <th>Name</th>
  <th>Stufe</th>
  <th>Beschreibung</th>
  <th>Treffpunkt</th>
  <th>Preis</th>
  <th>Von</th>
  <th>Bis</th>
  <th>Guide</th>
  <tr *ngFor="let course of courses">
    <td>{{ course.name }}</td>
    <td>{{ course.level }}</td>
    <td>{{ course.description }}</td>
    <td>{{ course.meetingPoint }}</td>
    <td>{{ course.price }}</td>
    <td>{{ course.fromDate }}</td>
    <td>{{ course.toDate }}</td>
    <td>{{ course.guide }}</td>
  </tr>
  </tbody>
</table>

