<p>courses-overview works!</p>

<!--<div><span>Name: </span>{{courses[0].name}}</div>-->
<!--<div><span>Beschreibung: </span>{{courses[0].description}}</div>-->

<p>Kurs-Tabelle</p>

<table>
  <tbody>
  <th>Name</th>
  <th>Stufe</th>
  <th>Beschreibung</th>
  <th>Treffpunkt</th>
  <th>Preis</th>
  <th>Von</th>
  <th>Bis</th>
  <th>Guide</th>
  <tr *ngFor="let course of courses">
    <td>{{ course.name }}</td>
    <td>{{ course.kursStufe }}</td>
    <td>{{ course.beschreibung }}</td>
    <td>{{ course.treffpunkt }}</td>
    <td>{{ course.preisKurs }}</td>
    <td>{{ course.vonDatum }}</td>
    <td>{{ course.bisDatum }}</td>
    <td>{{ course.guide }}</td>
  </tr>
  </tbody>
</table>

