/*** media breakpoints ***/
$breakpoint-large: 992px;
$breakpoint-medium: 688px;


/*** colors ***/
$standardTextColor: #000000;
$standardBackgroundColor: #ffffff;
$navBackgroundColor: grey;



/*** fonts ***/
$standardTextFont: "Jura", "Open Sans", "Arial", "sans-serif";


/*** sizes ***/
$maxWidth: 1600px;
$basicWidth: 8px;
$basicHeight: 8px;
$heightHeader: 7*$basicHeight;

$smallTextSize: 0.80rem;
$textSize: 1rem;

$smallTitleSize: 1.25rem;
$titleSize: 1.75rem;
$bigTitleSize: 3rem;

$navTextSize: 1.5rem;



@mixin standardTextFont(){
	color: $standardTextColor;
	font-family: $standardTextFont;
    font-style: normal;
    font-weight: 300;
	font-size: $textSize;
}

@mixin navigationTextFont(){
	color: $standardTextColor;
	font-family: $standardTextFont;
    font-style: normal;
    font-weight: 500;
	font-size: $navTextSize;
}